## Types of Operators

Python language supports the following types of operators.

Arithmetic Operators
Comparison (Relational) Operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators

## Arithmatic Operators

Following are Arithmaticv Operators
+ Addition

In [4]:
fname = "zafar"
lname = "abbas"
full_name = fname + lname
print(full_name)

full_name = fname + " " + lname
print(full_name)

zafarabbas
zafar abbas

In [5]:
2**3    # Exponentiation

8

In [6]:
8 - 5

3

In [7]:
8 * 5

40

In [8]:
12 / 3

4.0

In [9]:
12 / 3.0

4.0

In [10]:
12.0 / 3

4.0

In [11]:
11 / 3    # Division

3.6666666666666665

In [12]:
11 // 3   # Floor division

3

In [13]:
11 % 3  #  Modulus is remainder of division

2

## Comparison (Relational) Operators

== equal
>  greater than
<  less than
>= greater than equal
<= less than equal
!= not equal
<> not equal

In [14]:
"Qasim" == "qasim"

False

In [15]:
"qasim" == 'qasim'

True

In [16]:
2 == 2.0

True

In [18]:
2 == '2'

False

In [17]:
a = 2
b = 2
a == b

True

In [19]:
6 > 10

False

In [20]:
10 > 6

True

In [21]:
10 > 10

False

In [22]:
10 >= 10   # greater than or equal to

True

In [24]:
'A' > 'B'

False

In [25]:
'B' > 'A'

True

In [26]:
ord('A')

65

ASCII Codes
65 = A -> 90 = Z
97 = a -> 122 = b
48 = ) -> 57 = 9

In [29]:
chr(102)

'f'

In [31]:
ord('0')

48

In [33]:
ord('B') > ord('A')

True

In [35]:
2 <= 3

True

In [40]:
'qasim' != 'Qasim'

True

In [46]:
2 != 3

True

In [47]:
ord('q')

113

In [45]:
ord('Q')

81

In [48]:
2 <> 2

SyntaxError: invalid syntax (<ipython-input-48-3be57c68feb7>, line 1)

## Assignment Operators

In [49]:
a = 5
a = 6
a = 7
a = 8
print(a)

8

In [51]:
a = 1
a += 2    # a = 1 + 2 = 3
a += 3    # a = 3 + 3 = 6
a += 4    # a = 6 + 4 = 10
print(a)

10

In [52]:
a = 100
a -= 2  # 98
a -= 3  # 95
a -= 4 # 91
print(a)

91

In [53]:
a = 1
a *= 2 # 2
a *= 3 # 6
a *= 4 # 24
print(a)

24

In [54]:
a = 100
a /= 2
a /=2

In [55]:
a = 100
a //=2

In [56]:
a = 2
a **= 2 # 4
a **= 2 # 16
print(a)

16

In [57]:
a = 2
a **= 3 # 8 = 2 * 2 * 2
a **= 3 # 512 = 8 * 8 * 8
print(a)

512

In [58]:
a = 21
a&= 5
print(a)

5

In [59]:
a = 'A'
a *= 3
print(a)

AAA

In [60]:
a = "A"
a += "B"
a += "C"
print(a)

ABC

## Logical Operators

and = &
or = |
not !=, <>

In [73]:
user = 'Qasim'
password = '123qasim'

print(user == 'Qasim')

print(password=='123qasim')


print(user=='Qasim' and password=='123Qasim')

print(user=='Qasim' or password=='123Qasim')

True
True
False
True

In [82]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a=='A') & (b=='B') & (c=="C") & (d=="D"))
print(a=='A' and b=='B' and c=="C" and d=="D")

True
True

In [85]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a=='A') | (b=='b') | (c=="C") | (d=="d"))
print(a=='A' or b=='b' or c=="C" or d=="d")

True
True

In [6]:
user = input("Enter username: ")
password = input("Enter password" )

((user == 'Qasim') & (user == 'Admin') & (user == 'Abc')) and password == '123'
# (user == 'Qasim' or user == 'Admin' or user == 'Abc') and password == '123'

Enter username: Qasim
Enter password123

False

In [2]:
not(False)

True

In [3]:
not(True)

False

In [4]:
not (True and True)

False

## Bitwise Operator

8,  7,  6,  5,  4,  3,  2, 1, 0
2,  2,  2,  2,  2,  2,  2, 2, 2
===============================
256,128,64 ,32, 16, 8,  4, 2, 1

Example:
    10011
    
    Right
    1     =  1
    1     =  1
    0     =  
    0     =
    1     =  16
   total  =  19

11101
1+4+8+16=29

11100 = 28

11101
11100
------
11100

In [11]:

28 & 29   # ternary operator or bitwise operator

28

AND &

11101 = 29
11100 = 28

11101
11100
------
11100


Ans: 28

In [12]:
28 | 29

29

OR |

11101 = 29
11100 = 28

11101
11100
------
11101


Ans: 29

In [13]:
28 ^ 29

1

XOR ^

11101 = 29
11100 = 28

11101
11100
------
00001


Ans: 29

In [14]:
#11101
29<<2      # added 2 digits at the end  with '0' value, this is called left shift
#1110100

116

In [15]:
#11101
29>>2    # added 2 digits at the right side  with '0' value, this is called right shift
#00111

7

#11001  =  25
#1100100 ----- added two digits at the left   = 100
value = 

#11001
#00110 ------ added two digits at the right     = 6

In [16]:
25<<2

100

In [17]:
25>>2

6

git add -A
git commit -m
git push

## Membership Operators

In [12]:
names = ['Qasim', 'Hamza','Ismail','Adnan']

for name in names:
    if name == 'Qasim':
        return True

SyntaxError: 'return' outside function (<ipython-input-12-8a8915885dbd>, line 5)

In [2]:
"Qasim" in names

True

In [3]:
"Ali" not in names

True

## Identity Operators

In [10]:
a = '5'
b = 5
c = a


print(a==b)
print(a==c)

False
True

In [8]:
names=input("Please enter 10 words:").split(",")

for country in names:
    if country=='Pakistan':
        print(True)

Please enter 10 words:Iran, India, Pakistan

## Control Flow

- if, else, elif

if Logic:
    code run if logic True
else:
    code run if logic False

In [14]:
name = "Pakistan"

In [16]:
if False:
    print("pakistan")
else:
    print("Zindabad")

Zindabad

In [22]:
user = "qasim"

if user == "Qasim":
    print("You may login")
else:
    print("You may not login")

You may not login

True_block if logic else False_block

In [23]:
"Pakistan" if True else "Zindabad"

'Pakistan'

In [24]:
"Pakistan" if False else "Zindabad"

'Zindabad'

In [28]:
username = input("Please enter your username: ")
password = input("Please enter your password: ")

if username == 'bukhary72pk' and password=='123':
    print("You are logged in")
else:
    print("You are not logged in")

Please enter your username: bukhary72pk
Please enter your password: 123
You are logged in