# Topics

Functions: (Set of instructions)
 -  There are two types of functions:
        1) Pre-Defined Functions
        2) User Defined Functions
        3) Recursive Functions
        4) Generator Functions
        5) Lambda Functions (Single line one-time use function)



Types of Arguements:
-  following are types of arguments:
        1) Reqiured Arguements
        2) Optionsal Arguments
        3) Return   - whose value can be assigned to a variable
        4) Non Return  - whose value cannot be assigned to a variable like print()
        5) Default Arguements
        6) Positional Arguements
        7) Keyword Arguements
        8) Arguements with List
        9) Arguements with Dictionary

-  Loops:
        1) For
        2) While
        3) Do While

-  Input:

### Pre Defined Functions

In [134]:
print("abc")
print(len("dfsdjkfasdkfsdkfjk"))
print(type(123))
print(id("99"))

abc
18
<class 'int'>
2386754044064

### User Defined Functions

In [135]:
print("Pakistan Zindabad")
print("We are Pakistani")
print("We love our country")

Pakistan Zindabad
We are Pakistani
We love our country

In [136]:
# function defining

def abc():
    print("Pakistan Zindabad")   # by-default four spaces are required for indenting a block of code / line
    print("We are Pakistani")
    print("We love our country\n")

In [137]:
# calling a function

abc()

Pakistan Zindabad
We are Pakistani
We love our country

In [138]:
abc()
print("aaa")
print("bbb")
abc()

Pakistan Zindabad
We are Pakistani
We love our country

aaa
bbb
Pakistan Zindabad
We are Pakistani
We love our country

### Reqiured Arguements

In [139]:
# Perametarized Function with required arguements

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    print(text)

id_card("PIAIC68537", "Ali", "Hamza", "AI", "9 AM ~ 12 Noon")

    PIAIC Islamabad
    id: PIAIC68537
    Name: Ali
    Father's Name: Hamza
    Course: AI
    Timing: 9 AM ~ 12 Noon

In [140]:
data=[[1, "PIAIC68537", "Ali", "Hamza", "AI", "9 AM ~ 12 Noon"],
      [2, "PIAIC68540", "Ahmed", "Nasir", "CNC", "3 PM ~ 6 PM"],
      [3, "PIAIC69590", "Nasir", "Bakhat Taj", "BCC", "6 PM ~ 9 PM"]]

for v in data:
    id_card(v[0], v[1], v[2], v[3], v[4])

    PIAIC Islamabad
    id: 1
    Name: PIAIC68537
    Father's Name: Ali
    Course: Hamza
    Timing: AI


    PIAIC Islamabad
    id: 2
    Name: PIAIC68540
    Father's Name: Ahmed
    Course: Nasir
    Timing: CNC


    PIAIC Islamabad
    id: 3
    Name: PIAIC69590
    Father's Name: Nasir
    Course: Bakhat Taj
    Timing: BCC

In [141]:
data=[["PIAIC68537", "Ali", "Hamza", "AI", "9 AM ~ 12 Noon"],
      ["PIAIC68540", "Ahmed", "Nasir", "CNC", "3 PM ~ 6 PM"],
      ["PIAIC69590", "Nasir", "Bakhat Taj", "BCC", "6 PM ~ 9 PM"]]
for v in data:
#     id_card(v[0], v[1], v[2], v[3], v[4])
      id_card(*v)

    PIAIC Islamabad
    id: PIAIC68537
    Name: Ali
    Father's Name: Hamza
    Course: AI
    Timing: 9 AM ~ 12 Noon


    PIAIC Islamabad
    id: PIAIC68540
    Name: Ahmed
    Father's Name: Nasir
    Course: CNC
    Timing: 3 PM ~ 6 PM


    PIAIC Islamabad
    id: PIAIC69590
    Name: Nasir
    Father's Name: Bakhat Taj
    Course: BCC
    Timing: 6 PM ~ 9 PM

### Optional Arguements

In [142]:
# Optional arguments in parameter

def abc(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
abc(5)

5 0 0
5

In [143]:
abc(5,7)

5 7 0
12

In [144]:
abc(5,7,0)

5 7 0
12

### Non Return Function

In [145]:
#  a fuction which can not assign its value after execution to any variable

# abc = print("Pakistan")
# print(abc)

In [146]:
x = abc(5)
print(x)

5 0 0
5
None

### Return Function

In [147]:
# This is a return function with single return

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text
#     print(text)

print(id_card("PIAIC68537", "Ali", "Hamza", "AI", "9 AM ~ 12 Noon"))

    PIAIC Islamabad
    id: PIAIC68537
    Name: Ali
    Father's Name: Hamza
    Course: AI
    Timing: 9 AM ~ 12 Noon

In [148]:
# This is a return function with multi-return statements

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text, "Issued by: PIAIC Islamabad Administration"
#     print(text)

print(*id_card("PIAIC68537","Ali","Hamza","AI","9 AM ~ 12 Noon")) # * will return in tuple form

    PIAIC Islamabad
    id: PIAIC68537
    Name: Ali
    Father's Name: Hamza
    Course: AI
    Timing: 9 AM ~ 12 Noon
     Issued by: PIAIC Islamabad Administration

### KeyWord Arguements

In [149]:
def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text

print(id_card("Qasim","Aslam",5007,"AI","9 AM ~ 12 Noon"))

    PIAIC Islamabad
    id: Qasim
    Name: Aslam
    Father's Name: 5007
    Course: AI
    Timing: 9 AM ~ 12 Noon

In [150]:
#  with keyWord arguements even with change in order
print(id_card(sname="Qasim", fname="Aslam", sid=5006, course="AI", timing="9 AM ~ 12 Noon"))

    PIAIC Islamabad
    id: 5006
    Name: Qasim
    Father's Name: Aslam
    Course: AI
    Timing: 9 AM ~ 12 Noon

In [151]:
# Another example of keyWord Arguments
#  with keyWord arguements even with change in order

print(id_card("PIAIC-68537", "Qasim", "Aslam", timing="9 AM ~ 12 Noon", course="AI"))

    PIAIC Islamabad
    id: PIAIC-68537
    Name: Qasim
    Father's Name: Aslam
    Course: AI
    Timing: 9 AM ~ 12 Noon

### Arguments with List

In [152]:
# Passing information through list

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text

l1 = [1,"Qasim","Aslam","AI","Morning"]

print(id_card(l1[0], l1[1], l1[2], l1[3], l1[4]))

    PIAIC Islamabad
    id: 1
    Name: Qasim
    Father's Name: Aslam
    Course: AI
    Timing: Morning

In [153]:
# Passing information through list

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text

l1 = [1,"Qasim","Aslam","AI","Morning"]

print(id_card(*l1))

    PIAIC Islamabad
    id: 1
    Name: Qasim
    Father's Name: Aslam
    Course: AI
    Timing: Morning

In [154]:
# Passing information through list

def id_card(sid, sname, fname, course, timing):
    text = """    
    PIAIC Islamabad
    id: {}
    Name: {}
    Father's Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text

d1 = {
    "course": "AI",
    "sname": "Qasim",
    "fname": "Aslam",
    "sid": 5007,
    "timing": "Evening"
}

In [155]:
d1

{'course': 'AI',
 'sname': 'Qasim',
 'fname': 'Aslam',
 'sid': 5007,
 'timing': 'Evening'}

In [156]:
print(id_card(**d1))  # to derive from a list use * asteric and ** to derive from a dictionary

    PIAIC Islamabad
    id: 5007
    Name: Qasim
    Father's Name: Aslam
    Course: AI
    Timing: Evening

### Recursive Function

In [157]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)  # 5 * 4 * 3 * 2 * 1

abc(5)

120

### Generator Function

In [158]:
#  it keeps in mind previous value
#  it doesnot allocat all in memory
#  it is for efficient use of memory

def abc():
    for i in range(11):
        yield i

a = abc()
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

print(list(a))

<generator object abc at 0x0000022BB638DED0>
0
1
2
3
4
5
6
[7, 8, 9, 10]

### Lambda Functions

In [159]:
# it is without any name and in single line function

def xyz(a,b):    # this is a named function
    return a + b
xyz(5,6)

11

In [160]:
# it is without any name and in single line function

def xyz(a,b): return a + b    # named function in single row
xyz(5,6)

11

In [161]:
xyz = lambda a,b: a + b

xyz(3,4)

7

In [162]:
# lambda function using if, else statements

xyz = lambda x,y: print("X is greater than Y") if x > y else print("Y is greater than X")

xyz(5,2)

X is greater than Y

In [163]:
# lambda function using if, elif, else statements

xyz = lambda x,y: print("X > Y") if x > y else (print("X = Y are equal") if x == y else print("X < Y"))

xyz(5,3)

X > Y