# Assignment No.3 (Using maths operators)

### This assignment also explains order of precedence of math operators

In [282]:
x = 15
y = 4
z = 2

# Output: x + y * y / z = 23.0
print('x + y * y / z =', x+y*y/z)

# Output: x - y  / z * y = 7.0
print('\nx - y / z * y =', x-y/z*y)

# Output: x * y + y / z = 62.0
print('\nx * y =', round(x*y+y/z,3))

# Output: x / y - y / z = 1.75
print('\nx / y =', x/y-y/z)

# Output: x // y = 3 
print('\nx // y =', x//y)     # This truncates decimal portion hence answer from '3.75' will be printed as '3'

# Output: x + x ** y - z = 50638
print('\nx + x ** y - z =', x+x**y-z)

#Output: x * y - x % z = 59

print('\nx * y - x % z =', x*y-x%z)

x + y * y / z = 23.0

x - y / z * y = 7.0

x * y = 62.0

x / y = 1.75

x // y = 3

x + x ** y - z = 50638

x * y - x % z = 59

# Assignment No.2 (String Formatting)

### First Method of String Formatting

In [292]:
name = input("Please enter student's name: ")
grade = input("Please enter student's grade: ")
section = input("Please enter student's section: ")
roll_no = input("Please enter student's Roll No: ")
campus = "Bahria University, Islamabad"

# """
# PIAIC ISLAMABAD
# name = {}
# grade={}
# section={}
# roll_no={}
# campus={}
# """.format(name, grade, section, roll_no,campus)

print("\nName\t:\t" + name)
print("Grade\t:\t" + grade)
print("Section\t:\t" + section)
print("Roll No\t:\t" + roll_no)
print("Campus\t:\t" + campus)

Please enter student's name: Zafar Abbas
Please enter student's grade: AI Q1 ISB
Please enter student's section: Morning (9 to 12 am)
Please enter student's Roll No: PIAIC12345

Name	:	Zafar Abbas
Grade	:	AI Q1 ISB
Section	:	Morning (9 to 12 am)
Roll No	:	PIAIC12345
Campus	:	Bahria University, Islamabad

### Second Method of String Formatting

In [291]:
name = input("Please enter student's name: ")
grade = input("Please enter student's grade: ")
section = input("Please enter student's section: ")
roll_no = input("Please enter student's Roll No: ")
campus = "Bahria University, Islamabad"

"""
PIAIC ISLAMABAD
name = {}
grade={}
section={}
roll_no={}
campus={}
""".format(name, grade, section, roll_no,campus)

print("\nName\t:\t{}\nGrade\t:\t{}\nSection\t:\t{}\nRoll No\t:\t{}\nCampus\t:\t{}".format(name,grade,section,roll_no,campus))

Please enter student's name: Zafar Abbas
Please enter student's grade: AI Q1 Isb
Please enter student's section: Morning
Please enter student's Roll No: PIAIC12345

Name	:	Zafar Abbas
Grade	:	AI Q1 Isb
Section	:	Morning
Roll No	:	PIAIC12345
Campus	:	Bahria University, Islamabad

###  Third Method of String Formatting

In [290]:
name = input("Please enter student's name: ")
grade = input("Please enter student's grade: ")
section = input("Please enter student's section: ")
roll_no = input("Please enter student's Roll No: ")
campus = "Bahria University, Islamabad"

"""
PIAIC ISLAMABAD
name = {}
grade={}
section={}
roll_no={}
campus={}
""".format(name, grade, section, roll_no,campus)

print(f"\nName\t:\t{name}\nGrade\t:\t{grade}\nSection\t:\t{section}\nRoll No\t:\t{roll_no}\nCampus\t:\t{campus}")

Please enter student's name: Zafar Abbas
Please enter student's grade: AI Q1 ISB
Please enter student's section: Morning
Please enter student's Roll No: PIAIC12345

Name	:	Zafar Abbas
Grade	:	AI Q1 ISB
Section	:	Morning
Roll No	:	PIAIC12345
Campus	:	Bahria University, Islamabad

###  Forth Method of String Formatting

In [295]:

name = input("Please enter student's name: ")
grade = input("Please enter student's grade: ")
section = input("Please enter student's section: ")
roll_no = input("Please enter student's Roll No: ")
campus = "Bahria University, Islamabad"

"""
PIAIC ISLAMABAD
name = {}
grade={}
section={}
roll_no={}
campus={}
""".format(name, grade, section, roll_no,campus)

print("\nStudent Name\t: %s\nStudent Class\t: %s\nStudent Roll No\t: %s\nStudent Section\t: %s\nStudent Campus\t: %s"
      %(grade,section,roll_no,name,campus))

Please enter student's name: Zafar Abbas Bukhary
Please enter student's grade: Artificial Intelligence Q1 ISB
Please enter student's section: Morning (0900 to 1200)
Please enter student's Roll No: PIAIC12345

Student Name	: Artificial Intelligence Q1 ISB
Student Class	: Morning (0900 to 1200)
Student Roll No	: PIAIC12345
Student Section	: Zafar Abbas Bukhary
Student Campus	: Bahria University, Islamabad

# Assignment No.1 (String Methods)

### List & Use of names of all the valid attributes/base attributes & Methods of String

In [49]:
name = "zafar Abbas"
students = ['zafar','adnan','ismail','zafar']
cities = ('Islamabad','Karachi','Lahore')

In [29]:
print(type(name))
print(type(students))
print(type(cities))

<class 'str'>
<class 'list'>
<class 'tuple'>

In [4]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [50]:
name.capitalize()    # this method will Capitalize the first character of string 'name'

'Zafar abbas'

In [55]:
# The casefold() method is an aggressive lower() method
# which convert strings to casefolded strings for caseless matching

name.casefold()

'zafar abbas'

In [51]:
name.center(50)     # this method will centerlize the string 'name' with 50 character-space from both sides

'                   zafar Abbas                    '

In [52]:
name.count('a')       # this will return the number of characters used in string 'name'

3

In [53]:
# The string encode() method returns encoded version of the given string

# string 'name' is by-default unicode

# print string
print('My name is :', name)

# default encoding to utf-8
string_utf = name.encode()
# print result
print('The encoded version is:', string_utf)

My name is : zafar Abbas
The encoded version is: b'zafar Abbas'

In [60]:
# The endswith() method returns True if a string ends with the specified suffix. If not, it returns False
name.endswith('s')   # string 'name' ends with character 's', so it will return 'True' otherwise, 'False'

True

In [87]:
# The expandtabs() method returns a copy of string with all tab characters '\t' replaced with whitespace characters
# until the next multiple of tabsize parameter

name = 'zafarrr\tabbas'  # default tab stops are 8,16,24
name.expandtabs()
print(name)

name=name.expandtabs(5) # now tab stops are 5,10,15,20
print(name)

zafarrr	abbas
zafarrr   abbas

In [99]:
# The find() method returns the index of first occurrence of the substring (if found). If not found, it returns -1

name = 'zafar Abbas'
name

print(name.find('Abb'))     # starting from '0', character 'A' is at 6th index
print(name.find('bukhary'))  # 'bukhary' is not in string 'name', thus index returns position '-1'

6
-1

In [106]:
# The string format() method formats the given string into a nicer output in Python

# default arguments
print("Hello {}, your balance is {}.".format("Zafar", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Zafar", 120.946))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Zafar", blc=95.568))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Zafar", blc=9546.75))

Hello Zafar, your balance is 230.2346.
Hello Zafar, your balance is 120.946.
Hello Zafar, your balance is 95.568.
Hello Zafar, your balance is 9546.75.

In [113]:
# The format_map() method is similar to str.format(**mapping) except that str.format(**mapping) creates 
# a new dictionary whereas str.format_map(mapping) doesn't.

fraction = {'x':4,'y':-5}
print('{x} {y}'.format_map(fraction))

fraction = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(fraction))

name = {'Name':'Zafar Abbas','Roll No':12345}
print('{Name} {Roll No}'.format_map(name))

4 -5
4 -5 0
Zafar Abbas 12345

In [122]:
name = 'zafar Abbas'

In [118]:
# The index() method returns the index of a substring inside the string (if found).
# If the substring is not found, it raises an exception.

sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

result = sentence.index('Java')
print("Substring 'Java':", result)

Substring 'is fun': 19

ValueError: substring not found

In [129]:
# Return True if the string is an alpha-numeric string, False otherwise

name = 'zafarAbbas123'
print(name.isalnum())

name = 'zafar Abbas'
print(name.isalnum())

True
False

In [135]:
# Return True if the string is an alphabetic string, False otherwise.

name = 'ZafarAbbas'
print(name.isalpha())

True

In [138]:
# Return True if all characters in the string are ASCII, False otherwise.

name.isascii()

True

In [146]:
# Return True if the string is a decimal string, False otherwise.

s = "28212"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

# contains alphabets and spaces
s = "My name is Zafar 14572pk"
print(s.isdecimal())

True
False
False

In [153]:
# Return True if the string is a digit string, False otherwise.

num = '38548'
print(num.isdigit())

name = 'Zafar Abbas'
print(name.isdigit())

True
False

In [163]:
# Return True if the string is a valid Python identifier, False otherwise.

name = 'ZafarAbbas'
print(name.isidentifier()) # condition is 'True'

name1 = 'Zafar Abbas'
print(name1.isidentifier())   # condition is 'False'

name2 = '33Zafar'
print(name2.isidentifier())   # condition is 'False'

name3 = 'Zafar72'
print(name3.isidentifier())   # condition is 'True'

True
False
False
True

In [170]:
# Return True if the string is a lowercase string, False otherwise.

name = 'zafar abbas'
print(name.islower())    # condition is 'True'

name1 = 'Zafar'
print(name1.islower())   # condition is 'False'

True
False

In [176]:
# Return True if the string is a numeric string, False otherwise.

name = 'Zafar Abbas'
print(name.isnumeric())   # 'name' string is non-numeric, so 'False'

num = '12345'
print(num.isnumeric())    # 'num' string is numeric, so 'True'

False
True

In [181]:
# Return True if the string is printable, False otherwise.

name = 'Zafar Abbas'
print(name)
print(name.isprintable())

name1 = '\nIs new Line is printable?'
print(name1)
print(name1.isprintable())

name3 = ''
print('\nIs empty string printable?')
print(name3.isprintable())

Zafar Abbas
True

Is new Line is printable?
False

Is empty string printable?
True

In [191]:
# Return True if the string is a whitespace string, False otherwise.

name = '     '
print(name.isspace())   # this string has white / blank space, so condtion is 'True'

name1 = ''
print(name1.isspace())   # this string has no white / blank space, so condtion is 'False'

name2 = ' a '
print(name2.isspace())

True
False
False

In [196]:
# Return True if the string is a title-cased string, False otherwise.

name = 'Zafar Abbas'
print(name.istitle())

name1 = 'Zafar abbas'
print(name1.istitle())

name2 = 'zafar abbas'
print(name2.istitle())

True
False
False

In [200]:
# Return True if the string is an uppercase string, False otherwise.

name = 'ZAFAR ABBAS'
print(name.isupper())  # string 'name' is in upper letters, hence condition returns 'True'

name1 = 'Zafar Abbas'
print(name1.isupper())  # string 'name1' is not in upper letters, hence condition returns 'False'

name2 = 'zafar abbas'
print(name2.isupper())  # string 'name1' is not in upper letters, hence condition returns 'False'

True
False
False

In [212]:
# Concatenate any number of strings.

name =  {'zafar', 'adnan', 'ismail'}
separator = ', '
print(separator.join(name))

lang = {'Python', 'Java', 'Ruby'}
sep = ' >> '
print(sep.join(lang))

shift = {'Morning','Evening','Night'}
seprate = ' ... '
print(seprate.join(shift))

zafar, adnan, ismail
Java >> Python >> Ruby
Morning ... Night ... Evening

In [217]:
# The string ljust() method returns a left-justified string of a given minimum width.

name = 'Zafar'
name.ljust(15)  #it prints string at left side and leaves blank spaces upto 15 characters in total

'Zafar          '

In [219]:
# The string rjust() method returns a right-justified string of a given minimum width.

name = 'Zafar'
name.rjust(15)  #it prints string at right side and leaves blank spaces upto 15 characters in total

'          Zafar'

In [224]:
name = 'zafar abbas'

print(name.lower())    # Return a copy of the string converted to lowercase.

print(name.upper())    # Return a copy of the string converted to upper-case.

zafar abbas
ZAFAR ABBAS

In [243]:
name = '     zafar Abbas    *'

print(name)

print(name.lstrip())    #  Removes whitespace at left side of string.

name1 = '*      zafar Abbas       '
print(name1.rstrip())    #  Removes whitespace at right side of string.

name2 = '   Zafar     Abbas      '
print(name2.strip())    #  Removes whitespace from both sides of string but not from between the string.

print('\n')


random_string = '   this is good '

# Leading whitepsace are removed
print(random_string.lstrip())

# Argument doesn't contain space
# No characters are removed.
print(random_string.lstrip('sti'))

print(random_string.lstrip('s ti'))

website = 'https://www.piaic.org/'
print(website.lstrip('https://.'))    # removes the characters in 'arguements' i.e. 'https://.''

     zafar Abbas    *
zafar Abbas    *
*      zafar Abbas
Zafar     Abbas


this is good
   this is good
his is good
www.piaic.org/