# List & Tuple

## List Methods

In [50]:
# to check methods, attributes

len(dir(list))

46

In [51]:
#index #   0,       1,       2,     3,  4, 5, 6, 7

names = ["Adnan","Ismail","Zafar","Ali",1, 2, 3, 4]

#index #   -8,      -7,      -6,    -5,-4,-3,-2,-1

In [52]:
names

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 4]

Slicing

List[Start:Stop:Step]
print(names[2])

### Append Method

In [53]:
# append method is used to insert new values at the end.

names = []

names.append("A")
names.append("B")
names.append("C")

names

['A', 'B', 'C']

### Clear Method

In [54]:
# Clear method clears / removes all values from list

names.clear()

In [55]:
# now aftetr executing clear() list 'names' is empty

names

[]

### Copy Method

In [56]:
names = ["Adnan","Ismail","Zafar","Ali",1, 2, 3, 4]

In [57]:
name = names      # this is a shallow copy, it copies only address rather than contents
print(names)
print(name)

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 4]
['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 4]

In [58]:
name[7]=0

In [59]:
print(name)

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 0]

In [60]:
print(names)

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 0]

In [61]:
names = ["Adnan","Ismail","Zafar","Ali",1, 2, 3, 4]

name = names.copy()    # This is a type of Deep Copy, it copies contents

In [62]:
name[7]=0

In [63]:
print(name)

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 0]

In [64]:
print(names)

['Adnan', 'Ismail', 'Zafar', 'Ali', 1, 2, 3, 4]

### Count Method

In [65]:
names = ["A","B","A","C","D","C","C"]
names.count("C")

3

### Addition

In [66]:
l1 = ["A","B","C"]
l2 = ["X","Y","Z"]

l3 = l1 + l2

In [67]:
print(l3)

['A', 'B', 'C', 'X', 'Y', 'Z']

In [68]:
l3 = l1.extend(l2)     # In memory operation performed

In [69]:
print(l3)
print(l1)
print(l2)

None
['A', 'B', 'C', 'X', 'Y', 'Z']
['X', 'Y', 'Z']

### Index

In [70]:
l1.index("C")    # returns index of value 'C', it returns only index of first 'C'

2

In [71]:
l1 = ['A', 'B', 'C', 'A', 'D', 'E','A']

In [72]:
print(l1.index("A",1))
print(l1.index("A",4))

3
6

### Insert

In [73]:
l1.insert(0,"X")
l1.insert(0,"Y")
l1.insert(0,"Z")

print(l1)

['Z', 'Y', 'X', 'A', 'B', 'C', 'A', 'D', 'E', 'A']

In [74]:
l1.insert(1,"M")

In [75]:
print(l1)

['Z', 'M', 'Y', 'X', 'A', 'B', 'C', 'A', 'D', 'E', 'A']

### Pop Function

In [76]:
# pop() removes item from list from the end (by default), however, it also removes from the given index also
# it also has 'return'

l1 = ["A","B","C"]
a = l1.pop()    # variable 'a' is defined to store deleted values / items from list 'l1'
print(l1)
print(a)

['A', 'B']
C

In [77]:
l1 = ["A","B","C"]
l1.pop(1)   # this will remove value 'B' from list 'l1'

'B'

In [78]:
l1  # remaining values of list 'l1'

['A', 'C']

### Remove

In [79]:
#  Remove by text value

l1 = ["A","B","C","C","D","C"]
l1.remove("C")
print(l1)

['A', 'B', 'C', 'D', 'C']

### Reverse

In [80]:
# it reverse the values / contents without any order

l1 = ['A','B','Z','C','X','M']
print(l1)
l1.reverse()
print(l1)

['A', 'B', 'Z', 'C', 'X', 'M']
['M', 'X', 'C', 'Z', 'B', 'A']

### Sort

In [81]:
# it sorts in ascending order

l1 = ['A','B','Z','C','X','M']
print(l1)
l1.sort()
print(l1)

l1.reverse()
print(l1)

['A', 'B', 'Z', 'C', 'X', 'M']
['A', 'B', 'C', 'M', 'X', 'Z']
['Z', 'X', 'M', 'C', 'B', 'A']

## Addition through __add__ Method

In [82]:
l1 = ["A","B","C"]
l1.__add__(["D","E"])   # in line operation

['A', 'B', 'C', 'D', 'E']

In [83]:
l1 = ['A','C','D']
l1.__class__

list

### Contains Method

In [84]:
l1 = ['A','C','D']
print(l1.__contains__("A"))

print("A" in l1)

True
True

# Loops

In [85]:
# loops are used to perform any action iteratively / repeatedly 

["Pakistan"] * 10 # it prints Pakistan for 10 times

['Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan']

Loop contains following three elements:

1) counter
2 logic / condition
3) Increment / Decrement

## While Loop

In [86]:
counter = 1    # counter

while counter <= 10:     # logic / condition
    print(counter, "Pakistan")
    counter += 1      # increment 1 upon each iteration

1 Pakistan
2 Pakistan
3 Pakistan
4 Pakistan
5 Pakistan
6 Pakistan
7 Pakistan
8 Pakistan
9 Pakistan
10 Pakistan

for (count; logic; increment){
    
    
}

In [87]:
for i in range(1,11):
    print(i, "Pakistan")

1 Pakistan
2 Pakistan
3 Pakistan
4 Pakistan
5 Pakistan
6 Pakistan
7 Pakistan
8 Pakistan
9 Pakistan
10 Pakistan

In [88]:
counter = 100    # counter

while counter >= 90:     # logic / condition
    print(counter, "Pakistan")
    counter -= 1      # increment 1 upon each iteration

100 Pakistan
99 Pakistan
98 Pakistan
97 Pakistan
96 Pakistan
95 Pakistan
94 Pakistan
93 Pakistan
92 Pakistan
91 Pakistan
90 Pakistan

In [89]:
["Pakistan" + str(x) for x in range(1,11)]

['Pakistan1',
 'Pakistan2',
 'Pakistan3',
 'Pakistan4',
 'Pakistan5',
 'Pakistan6',
 'Pakistan7',
 'Pakistan8',
 'Pakistan9',
 'Pakistan10']

In [90]:
for i in range(1,11):
    print(2, "X", i , "=", 2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [91]:
# printing table of '2' using for loop with '+' sign concatenation

for i in range(1,11):
    print("2 X " + str(i) +  " = " + str(2*i))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [92]:
# for loop in single line

["2 X " + str(i) +  " = " + str(2*i) for i in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

# Tuple

In [93]:
a = (1,2,3,2,1)
a.count(1)

2

In [94]:
# find index of value 3 of tuple 'a'

a.index(3)

2

## Class Task # 1

Take name, father_name, contact_no from user
and store in list until user opt 'No'

In [ ]:
counter = 1
data = []
check = True

while check == True:
    data.append(input("Please enter your name: "))
    data.append(input("Please enter father name: "))
    data.append(input("Please enter your contact number: "))

    if check == True:
        check = input("Do you want to insert more records (y/n): ")
        check = check.lower()
    if check != 'y' or check != 'n':
        print("Please select correct options, 'Y' or 'N': ")
        check = check.lower()
        if check == 'y' or check == 'Y':
            check = True
        else:
            check = False
                
print(data)

## Class Task # 2

In [ ]:
# print 1000 to 990 decreasingly using while loop

counter = 1000    # counter

while counter >= 990:     # logic / condition
    print(counter)
    counter -= 1      # decrement 1 upon each iteration

In [ ]:
# print 1000 to 990 decreasingly using for loop

for i in range(1000,990-1,-1):
    print(i)

## Class Task # 3

In [ ]:
# 65-90, 97-122, 48-57
# A a 0
# B b 1
# C c 3

for i in range(65,90+1):
    i += 1
    for m in range(97,122+1):
        print(chr(i) + " " + chr(m) + " " + str(n))    
        m += 1
        for n in range(48,57+1):
            n +=1

take input from user
if user enter 3

then your output:
    
1 x 1 =              2 x 1 =           3 x 1 =   
1 x 2 =              2 x 2 =           3 x 2 =

In [ ]:
for i in range(1,11):    
    print(1, "X", i , "=", 1*i, "     ", 2, "X", i , "=", 2*i, "     ", 3, "X", i , "=", 3*i)

## Class Task # 4

print row number and column number of fol matrix if any element is divisible by '5'

[[2,5,9],
[8,9,10],
[20,30,27],
[35,9,20]]

In [ ]:
l= [[2,5,9],
    [8,9,10],
    [20,30,27],
    [35,9,20]]

for ri, r in enumerate(l):
    for ci,c in enumerate(r):
        if c % 5 == 0:
            print((ri,ci,c), end=" ")
    print()

## Class Task # 5

# find numbers contains in table of 5, 7 & 20 from 1 - 1000

In [ ]:
for num in range(1,31):
    if num % 5 == 0:
        print(num, "is in Table of 5.")
    elif num % 7 == 0:
        print(num, "is in Table of 7.")
    elif num % 20 == 0:
        print(num, "is in Table of 20.")

## Class Task # 6

##### Class Task # 6
if man_proposes == True:                      # case no.1
    print("Its Direct Marketing")
elif friend_msg == True:                         # case no.2
    print("Its Advertising")
elif girl_proposes == True:                           # case no.3
    print("Its Brand Recognition")
elif man_proposes == True and slap == True:                # case no.4
    print("Its Customer Feedback")
elif man_proposes == True and intro_huby == True:               # case no.5
    print("Its Demand and Supply Gap")
else:
    print("That's restriction from entering a new market")          # case no.6

In [ ]:
initiative = input("Who Proposes? Enter 'You', 'friend' or 'girl': ") # you, girl, friend
initiative = initiative.lower()

if initiative == 'friend':
    print("It's Advertising.")
elif initiative == 'girl':
    print("It's Brand Recognition.")
elif initiative == 'you':
    slap = input("Please enter 'Y' or 'N' for slap: ")
    slap = slap.lower()
    if initiative == 'you' and slap == 'y':
        print("It's Customer's Feedback.")
    else:
        husband = input("Please enter 'Y' or 'N' for husband: ")
        husband = husband.lower()
        if initiative == 'you' and husband == 'y':
            print("It's Demand and Supply Gap.")
        else:
            if initiative == 'you' and slap != 'y' and husband != 'y':
                print("It's Direct Marketing.")
else:
    print("It's restriction to enter new market.")